body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #container {
    display: flex;
    justify-content: space-between;
  }
  
  textarea, #preview {
    width: 45%;
    height: 80vh;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  